*{
  margin: 0;
  padding: 0;
}
 .navbar{
   width: 100%;
   height: 80px;
   background-color: black;padding-right: 15px;padding-left: 15px;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
li{
  list-style: none; display: inline-block;
}
li a{
   color: blue; font-size: 18px; font-weight: bold; margin-right: 25px;
}
.logo{
  margin-right: auto;
  margin-left: 42em;
  width: 50px;
  position: absolute;
  top: 4%;
  left: 80%;
}
#banner{
   background: url('3.JPG');
   background-size: cover;
   background-position: center;
   height: 100vh;
   position: relative;

}
.banner-text{
  text-align: center;
  color: black;
  padding-top: 180px;
}
.banner-text h1{
 font-size: 80px;
 color: black;

}
.banner-text p{
 font-size: 20px;
 font-style: italic;
 color: white;
 animation-name:slideinleft;
 animation-duration:3s ;
 animation-timing-function:ease-in;
 animation-delay:1s;
 animation-iteration-count:3s;
 animation-direction:normal;
 animation-fill-mode:both;

 transform: translatex(-150px);
}

@keyframes slideinleft{
 from{
  transform: translatex(-300px)
}

 to{
   transform: translatex(0)
}
}
.banner-btn{
 margin: 70px auto 0;
 display: inline-block;
 border: 1px solid #fff;
 padding: 12px 34px;
 position: relative;
 cursor: pointer;
}
.banner-btn a{
   width: 150px;
   text-decoration: none;
   display: inline-block;
   margin: 0 10px;
   padding: 12px 0;
   color: #fff;
   border: .5px solid #fff;
   position: relative;
   z-index: 1;
   transition: color 0.5s;
}
.banner-btn a span{
   width: 0;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: white;
   z-index: -1;
   transition: 0.5s;
}
.banner-btn a:hover span{
  width: 100%;
} 
.banner-btn a:hover{
  color: #000;
  background: #f44336;
  transition: 1s;
}
.button{
	display: inline-block;
	padding: 10px 20px;
 	font-size: 16px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color:#3498db;
 	color: #ffffff;
	box-shadow: 0px 5px 0px #2980b9;
	transition: transform 0.3s, box-shadow 0.3s;
}
.button:hover {
   transform: translate(-5px);
   box-shadow: 0px 0px 0px #2980b9;
} 

/*------PRODUCTS------*/

.products{
    width: 80%;
    margin: 100px auto 50px;
    text-align: center;
    padding-top: 100px;     
}
h1{
  font-size: 38px;
  font-weight: 600;
}
p{
  color: blue;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.Products-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0;
}
.Products-col:hover{
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

<!------designer bags------> 

.Fragrances{
      width: 80%;
      margin: 100px auto 50px;
      justify-content: center;
      padding-top: 100px;     
}
h1{
  font-size: 38px;
  font-weight: 600;
}
p{
  color: blue;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.fragrance-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.jackets{
	flex-basis: 38%;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 20px;
	color:#fff;
} 
.jackets-img{
	width: 100%;
	border-radius: 7px;
}


@media(max-width: 700px){
.row{
    flex-direction: column;
 }
}
  media screen and(max-width: 700px){
     .contacts h4{
      font-size: 24px;
      }
}
@media(max-width: 550px){
  #rows: 6r;
}
.h1 {
  display: flex;
  flex-direction: column;
}